*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto';
}
$black: #000;
$white: #FFF;

$width: 790px;
$height: 180px; 

body{
  display:block;
  width:100%;
  height:100vh;
  background:linear-gradient(to right, #ff9966, #ff5e62);
}

.boxes{
  position:fixed;
  top:50%;
  left:50%;
  width:90%;
  max-width:$width;
  height:$height;
  transform:translate(-50%, -50%);
}
.box{
  position:relative;
  display:flex;
  align-items: center;
  flex-direction: row;
  background:linear-gradient(to right, #ff9966, #ff5e62);
  width:100%;
  height:100%;
  border-radius: 20px;
  box-shadow: 2px 0 5px rgba(#000,0.4);
  padding:0 80px;
  box-sizing: border-box;
  transform-origin: center;
  &:nth-child(1),
  &:nth-child(2){
    position:absolute;
  }
  &:nth-child(1){
    left:3%;
    width:94%;
    transform:rotate(-4deg);
    opacity:.25;
  }
  &:nth-child(2){
    left:2%;
    width:96%;
    transform:rotate(4deg);
    opacity:.5;
  }
}

.progress{
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}
.bar{
  position:absolute;
  left:50%;
  top:50%;
  background: #E8DFD8;
  width:100%;
  height:4px; 
  border-radius: 10px;
  transform:translate(-50%, -50%);
  overflow:hidden; 
  &__fill{
    display:block;
    background:#ae1c1c;
    height:100%;
    transition:width .5s ease-in-out;
  }
}

.point{
  position:relative;
  color:white;
  cursor:pointer;
  &:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:120px;
    height:120px;
    border-radius: 100%;
    transform:translate(-50%, -50%);
    transition:.3s ease;

  }
  &--complete,
  &--active{
    color:black;
  }
}
.bullet{
  position:relative;
  z-index: inherit 1;
  background:#fff;
  width:8px;
  height:8px;
  border-radius: 100%;
  transition:.3s ease;

  .point--complete &,
  .point--active &{
    background:#ffffff;
    box-shadow:0 2px 4px rgba(#000, .3),
                0 0 0 6px #ae1c1c;
  }

  .point--active &{
    box-shadow:0 2px 4px rgba(#000, .3),
                0 0 0 10px #ae1c1c;
  }
}
.label{
  position:absolute;
  top: 100%;
  left:50%;
  margin:20px 0 0 0 ;
  font-size:12px;
  font-weight: 600;
  text-transform: uppercase;
  transform:translate(-50%, 0);
}
